{% extends "base.html" %}
{% load staticfiles %}
{% load user_tags %}

{% block content %}


  {% if request.user.is_authenticated %}

<br><br>
  <div class="container">
     <div class="row align-items-center">
      
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h2>Welcome:  {{request.user.username}}</h2>
          {% if request.user.actual_picture %}
              <img class="img-fluid mb-3 mb-md-0" src="{{request.user.actual_picture.url}}" alt="" width="50" height="50">

          {% endif %}

          {% if request.user.first_name %}
            <p>{{ request.user.first_name }} {{request.user.last_name}}</p>
          
          {% endif %}
      </div>
    </div>
  </div>


<hr>
<br>
<br>

  






<!-- Action buttons -->
<div class="container">
  <div class="row align-items-center">
      <h3>Make other stuff</h3>
        <div class="col-sm-12">

          <a class="btn btn-primary" data-toggle="collapse" href="#shipmentsCollapse" role="button" aria-expanded="false" aria-controls="shipmentsCollapse">
            Shipments Actions
          </a>
          {% if request.user|has_group:"Management" %}
          <a class="btn btn-primary" data-toggle="collapse" href="#calculateCollapse" role="button" aria-expanded="false" aria-controls="calculateCollapse">
            Calculate Actions
          </a>
          <a class="btn btn-primary" data-toggle="collapse" href="#shipmentCollapse" role="button" aria-expanded="false" aria-controls="shipmentCollapse">
            Shipments List
          </a>

          {% endif %}


          <div class="collapse " id="shipmentsCollapse">
            <div class="card card-body col-sm-6">
              <a class="btn btn-primary" href="{% url 'shipments:newShipment' %}" role="button" style="margin-bottom: 8px">Start New Order <i class="fas fa-stroopwafel"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='open' %}" role="button" style="margin-bottom: 8px">Close Order <i class="fas fa-stroopwafel"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:newExpense' %}" role="button" style="margin-bottom: 8px">Load Expenses <i class="fas fa-stroopwafel"></i></a>
              {% if request.user|has_group:"Management" %}
                <a class="btn btn-primary" href="{% url 'shipments:newPayment' %}" role="button" style="margin-bottom: 8px">Load Payment <i class="fas fa-stroopwafel"></i></a>
              {% endif %}
            </div>
          </div>

           <div class="collapse" id="calculateCollapse">
            <div class="card card-body col-sm-6">
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='expense' %}" role="button" style="margin-bottom: 8px">Expense per shipment <i class="fas fa-calendar-check"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='client' %}" role="button" style="margin-bottom: 8px">Billing <i class="fas fa-calendar-check"></i></a>
              
              <a class="btn btn-primary" href="{% url 'assets:galPerMiles' %}" role="button" style="margin-bottom: 8px">Gal per miles <i class="fas fa-calendar-check"></i></a>
               <a class="btn btn-primary" href="{% url 'assets:dolarPerMiles' %}" role="button" style="margin-bottom: 8px">Dollar per miles <i class="fas fa-calendar-check"></i></a>
              
                <a class="btn btn-primary" href="{% url 'assets:payedRealMiles' %}" role="button" style="margin-bottom: 8px">Diff Miles <i class="fas fa-calendar-check"></i></a>
                <a class="btn btn-primary" href="{% url 'assets:driverPayment' %}" role="button" style="margin-bottom: 8px">Driver Unpaid Orders <i class="fas fa-calendar-check"></i></a>

              
            </div>
          </div>
          

          <div class="collapse" id="shipmentCollapse">
            <div class="card card-body col-sm-6">
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='all' %}" role="button" style="margin-bottom: 8px">List All Shipments <i class="fas fa-calendar-check"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='closed' %}" role="button" style="margin-bottom: 8px">List Delivered Shipments <i class="fas fa-calendar-check"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='client' %}" role="button" style="margin-bottom: 8px">List Shipments Payed By Client <i class="fas fa-calendar-check"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='driver' %}" role="button" style="margin-bottom: 8px">List Shipments Payed To Driver <i class="fas fa-calendar-check"></i></a>
              <!--a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='expense' %}" role="button" style="margin-bottom: 8px">Expense per shipment <i class="fas fa-calendar-check"></i></a>
              <a class="btn btn-primary" href="{% url 'shipments:shipmentsList' option='closed' %}" role="button" style="margin-bottom: 8px">Billing <i class="fas fa-calendar-check"></i></a>
              
              <a class="btn btn-primary" href="{% url 'assets:galPerMiles' %}" role="button" style="margin-bottom: 8px">Gal per miles <i class="fas fa-calendar-check"></i></a>
               <a class="btn btn-primary" href="{% url 'assets:dolarPerMiles' %}" role="button" style="margin-bottom: 8px">Dollar per miles <i class="fas fa-calendar-check"></i></a>
              
                <a class="btn btn-primary" href="{% url 'assets:payedRealMiles' %}" role="button" style="margin-bottom: 8px">Diff Miles <i class="fas fa-calendar-check"></i></a-->
                

              
            </div>
          </div>
          
          
         

          <!-- Your Stuff: Custom user template urls -->
        </div>

    </div>
</div>

<!-- End Action buttons -->














    

  {% else %}

    <main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 mx-auto col-md-6 order-md-2">
        <img class="img-fluid mb-3 mb-md-0" src="{% static 'images/favicons/recpoint_icon.jpg' %}" alt="" width="300" height="300">
      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <br>
        <br>
        <h1 class="mb-3 bd-text-purple-bright">RecPoint Logistics</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nibh ut leo posuere tristique ac sit amet risus
        </p>
        <p class="lead mb-4">
          Integer tortor quam, congue vitae purus sagittis, cursus tempus nisl. Morbi elit nibh, pretium non accumsan ac, lobortis in lectus. Aenean quis ultrices purus, in vulputate massa. Nulla at luctus nibh. Donec sagittis tristique elit, et volutpat arcu tristique ac. Fusce dapibus, ipsum sit amet blandit ultrices, augue metus faucibus sem, eget mattis massa nisl ac lacus.
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <!--a href="/docs/4.1/getting-started/introduction/" class="btn btn-lg btn-bd-primary mb-3 mb-md-0 mr-md-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Get started</a-->
          <!--a href="/docs/4.1/getting-started/download/" class="btn btn-lg btn-outline-secondary" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 4.1.3');">Download</a-->
        </div>
        
        <p class="text-muted mb-0">
          Currently v4.1.3
        </p>
      </div>
    </div>
    

  </div>
</main>

  {% endif%}




{% endblock %}