{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Driver Unpaid Orders{% endblock %}

{% block content %}



<br><br>
<h2>Unpaid Orders of {{driver}}</h2>



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Payment Subtotal</h3>
    <h6 class="card-subtitle mb-2 text-muted">Total Ammount to pay</h6>
    <h5 class="card-text">Subtotal: <b>$<span id="subtotal">0</span></b></h5>
    <!--a href="#" class="card-link">Card link</a>
    <button type="submit" style="background-color: #083652" class="text-white" form="payment_form">Make Payment</button-->
     <button type="button" data-toggle="modal" data-target="#paymentModal" style="background-color: #083652;color:white" class="btn">
      Make Payment
    </button>

    <!-- Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentModalLabel">Confirm Payment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            <h5>Payment for <b>$<span id="paymentConfirm">0</span></b></h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button class="btn" style="background-color: #083652;color:white" type="submit" form="payment_form">Confirm Payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





 <form class="form-horizontal" method="post" action="{% url 'assets:driverPaymentResume' %}" enctype="multipart/form-data" id="payment_form">
    {% csrf_token %}
      
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Order Number</th>
            <th scope="col">Order Status</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Ammount</th>
            <th scope="col">Driver Payment</th>
            
          </tr>
        </thead>
        <tbody>
          {% regroup orders by payed_driver as orders_list %}

          {%for group in orders_list %}
          {% for o in group.list %}
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input position-static select_payment" type="checkbox" name="shipment-{{o.id}}" value="{{o.id}}" data-ammount="{{o.driver_payment|floatformat:2}}" aria-label="...">
              </div>
            </td>
            <th scope="row">{{o.order_number}}</th>
            <td>{% if o.payed_driver == True %} Payed {%else%} Not Payed {%endif%}</td>
            <td>{{o.order_date}}</td>
            <td>$ {{o.order_payment|intcomma}}</td>
            <td>$ {{o.driver_payment|floatformat:2 |intcomma}}</td>     
            
            
          </tr>
          {% endfor %}
          {% endfor %}
           <tr>
            <th scope="row"></th>
            
            <td></td>
            <td></td>
            <td><b>Total Unpaid:</b></td>
          </tr>
           <tr>
            <th scope="row"></th>
            
            <td></td>
            <td></td>
            <td>$ {{total|floatformat:2|intcomma}}</td>
          </tr>
        </tbody>
      </table>



  
  </form>






{% endblock content %}


